@use "../abstracts/variables";
@use "../abstracts/mixins";

.search-container {
  display: flex;
  justify-content: center;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);

  input {
    padding: 8px;
    width: 250px;
    border: 2px solid variables.$yellow;
    border-radius: 5px;
    font-size: 16px;

    &:focus {
      outline: none;
      box-shadow: 0 0 5px variables.$white;
    }

    &::placeholder {
      color: variables.$gray1;
      font-family: "Playfair Display", serif;
      font-weight: 600;

    }
  }

  button {
    padding: 8px 12px;
    margin-left: 8px;
    background: variables.$purple;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all;
    font-family: "Playfair Display", serif;
    font-weight: 600;


    &:focus {
      outline: none;
      box-shadow: 0 0 5px variables.$white;
    }

    &:hover {
      background: variables.$yellow;
    }

  }
}

@include mixins.mobile {
  .search-container {
    position: unset;
    transform: unset;

    input {
      padding: 5px;
      border: 1px solid #FFD700;
      font-size: 13px;
    }

    button {
      box-shadow: 0 0 2px #fff;
    }
  }
}