@use "../abstracts/variables";
@use "../abstracts/mixins";

.search-container {
  display: flex;
  justify-content: center;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);

  input {
    padding: 8px;
    width: 250px;
    border: 2px solid variables.$mainColor;
    border-radius: 5px;
    font-size: 16px;
  }

  button {
    padding: 8px 12px;
    margin-left: 8px;
    background: variables.$secondaryColor;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
      background: #3e2723;
    }
  }
}

@include mixins.mobile {
  .search-container {
    top: 25px;
    right: 10px;
  }
}