$lightGray: #f8f1e4;
$gray1: #444;
$gray2: #3a3a3a;
$gray3: #4444449c;
$mainColor: #7e4a4a;
$secondaryColor: #6d4c41;
$purple: #9D4EDD;
$yellow: #FFD700;
$white: #fff;
$black: #000;
$navGradient: linear-gradient(135deg, #41EAD4, #9D4EDD, #4D96FF);
$footerGradient: radial-gradient(circle, #9D4EDD, #FFFFFF);