@use "../abstracts/variables";
@use "../abstracts/mixins";

header {
  background: variables.$navGradient;

  color: white;
  padding: 0 40px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


nav {
  display: flex;
  padding: 10px 0;
}

.nav-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin-block: 10px;
}

.nav-list li {
  margin: 0 15px;

}

.nav-list a {
  text-decoration: none;
  color: variables.$white;
  font-size: 0.9em;
  transition: all 0.3s ease-in-out;
  text-shadow:
    1px 1px 2px #00000014, -1px -1px 2px #0000001c, 1px -1px 2px #00000024, -1px 1px 0px #00000036;

  &:hover {
    text-underline-offset: 5px;
    color: variables.$yellow;
    text-shadow: 0 0 1px variables.$yellow, 0 0 10px variables.$yellow, 0 0 5px variables.$yellow, 0 0 40px variables.$yellow;
    letter-spacing: px;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #41EAD4;
    transition: all 0.3s ease;
  }

  &:hover {
    color: variables.$yellow;
    transform: scale(1.1);
  }
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.menu-toggle .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: white;
}

@include mixins.mobile {
  header {
    padding: 10px 0;
    flex-direction: column;
  }

  nav {
    margin-bottom: 10px;
  }

  .menu-toggle {
    display: block;
  }

  .nav-list {
    flex-direction: column;
    background: variables.$purple;
    position: absolute;
    width: 100%;
    left: 0;
    top: 40px;
    text-align: center;
    padding: 10px 0;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease;
  }

  .nav-list.active {
    opacity: 1;
    visibility: visible;
    z-index: 1;
  }

  .nav-list li {
    margin: 10px 0;
  }

}