<html lang="en">
  {{>head}}
  <body>
    <header>
     {{> nav}}   
    </header>
    <main>
      <h1 class="xg-title">Welcome to <br /><span>XG Gallery</span></h1>

      <section class="intro">
        <h2>Explore the World of Art</h2>
        <p>
          Immerse yourself in a collection of timeless masterpieces, from
          stunning paintings and intricate sculptures to delicate drawings. Our
          gallery brings together artworks from various artists and periods,
          offering a glimpse into the creativity of the human spirit.
        </p>
      </section>

      <section id="discover-cta">
        <h2>Discover More</h2>
        <div class="cta-container">
          <a href="paintings.html" class="cta-card">
            <img src="../client/assets/images/painting.webp" alt="Paintings" />
            <div class="cta-content">
              <h3>Paintings</h3>
            </div>
          </a>
          <a href="sculptures.html" class="cta-card">
            <img src="../client/assets/images/sculpture.webp" alt="Sculptures" />
            <div class="cta-content">
              <h3>Sculptures</h3>
            </div>
          </a>
          <a href="textiles.html" class="cta-card">
            <img src="../client/assets/images/textile.webp" alt="Textiles" />
            <div class="cta-content">
              <h3>Textiles</h3>
            </div>
          </a>
        </div>
      </section>

      <section class="about">
        <h2>About the Collection</h2>
        <p>
          Our online gallery is curated from open-source art collections
          worldwide, showcasing a diverse range of styles and periods. Each
          artwork tells a unique story, offering insight into history, culture,
          and artistic expression.
        </p>
      </section>
    </main>
    {{>footer}}
{{>scripts}}
  </body>
</html>