<html lang="en">
  {{>head}}
  <body>
    {{>header search=search}}
    <main>
      <div class="wrapper">
      <h1 class="xg-title">Welcome to <br /><span>XG Gallery</span></h1>

      <section class="intro">
        <p class="main-text">
          Immerse yourself in a collection of timeless masterpieces, from
          stunning paintings and intricate sculptures to delicate drawings. Our
          gallery brings together artworks from various artists and periods,
          offering a glimpse into the creativity of the human spirit.
        </p>
      </section>

      <section id="discover-cta">
        <h3>Discover More</h3>
        <div class="cta-container">
          <a href="paintings.html" class="cta-card">
            <img src="./client/assets/images/painting.webp" alt="Paintings" />
            <div class="cta-content">
              <h4>Paintings</h4>
            </div>
          </a>
          <a href="sculptures.html" class="cta-card">
            <img src="./client/assets/images/sculpture.webp" alt="Sculptures" />
            <div class="cta-content">
              <h4>Sculptures</h4>
            </div>
          </a>
          <a href="textiles.html" class="cta-card">
            <img src="./client/assets/images/textile.webp" alt="Textiles" />
            <div class="cta-content">
              <h4>Textiles</h4>
            </div>
          </a>
        </div>
      </section>

      <section class="about">
        <h3>About the Collection</h3>
        <p class="main-text">
          Our online gallery is curated from open-source art collections
          worldwide, showcasing a diverse range of styles and periods. Each
          artwork tells a unique story, offering insight into history, culture,
          and artistic expression.
        </p>
      </section></div>
    </main>
    {{>footer}}
    {{>scripts}}
<script src="./client/scripts/pages/home.js"></script>
<script src="./client/scripts/components/fadeText.js"></script>
  </body>
</html>