<!DOCTYPE html>
<html lang="en">
  {{> head}}
  <body>
        {{>header search=search}}

    <main >
      <div class="wrapper">
        <h1>Paintings at XG Gallery</h1>
        <h2>At XG Gallery, we celebrate the timeless beauty of paintings, showcasing masterpieces that span different eras, styles, and cultures. From the delicate brushwork of classical realism to the bold strokes of contemporary abstraction, our collection highlights the power of paint to tell stories, evoke emotions, and capture fleeting moments in time. Whether you're drawn to the intricate details of Renaissance art or the expressive energy of modern pieces, our carefully curated selection offers something for every art enthusiast.</h2>
        <div id="gallery"></div>
      </div> 
      </main>
    {{> modal}}
    {{> footer}}
    {{> scripts}} 
  </body>
</html>
