<!DOCTYPE html>
<html lang="en">
  {{> head}}
  <body>
        {{>header search=search}}

    <main id="gallery"><h1>Paintings</h1></main>
    {{> modal}}
    {{> footer}}
    {{> scripts}} 
  </body>
</html>
