<!DOCTYPE html>
<html lang="en">
  {{> head}}
  <body>
            {{>header search=search}}
    <main >
      <div class="wrapper" id="gallery">
<h1>Sculptures</h1>
      </div> 
      </main>
    {{> modal}}
    {{> footer}}
    {{> scripts}} 
  </body>
</html>
