<html lang="en">
  {{> head}}
  <body>
    {{>header search=search}}
      <main>
        <div class="wrapper">	
          <h1>Textiles at XG Gallery</h1>
          <h2>Textile art merges craftsmanship with creativity, offering a tactile and visually striking experience. At XG Gallery, we present a diverse selection of textile works, ranging from traditional woven tapestries to contemporary fiber art installations. Each piece tells a unique story, reflecting cultural traditions, innovative techniques, and artistic ingenuity. Whether through intricate embroidery, hand-dyed fabrics, or bold textile sculptures, our collection showcases the versatility and depth of this dynamic art form.</h2>
          <div id="gallery"></div>
        </div>
      </main>
      {{> modal}}
      {{> footer}}
      {{> scripts}}
    <script src="./client/scripts/components/gallery.js"></script>

  </body>
</html>