<html lang="en">
  {{> head}}
  <body>
    {{>header search=search}}
      <main>
        <div class="wrapper" id="gallery">
          <h1>Textiles</h1>
        </div>
      </main>
      {{> modal}}
      {{> footer}}
      {{> scripts}}
  </body>
</html>