<html lang="en">
  {{> head}}
  <body>
    {{>header search=search}}
      <main>
        <div class="wrapper">	
          <h1>Textiles</h1>
          <div id="gallery"></div>
        </div>
      </main>
      {{> modal}}
      {{> footer}}
      {{> scripts}}
  </body>
</html>