<header class="header">
     <div class="header__wrapper wrapper">
     {{> nav}}   
     {{#if search}}
          {{> search}}
     {{/if}}
     <div class="header__logo">
          <a href="/"><img src="./client/assets/images/logo.webp" alt="XG Gallery" width="120" height="102"/></a>
     </div>
</header>