<nav>
  <div class="menu-toggle" id="mobile-menu">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
  <ul class="nav-list">
    <li><a href="index.html">Home</a></li>
    <li><a href="paintings.html">Paintings</a></li>
    <li><a href="sculptures.html">Sculptures</a></li>
    <li><a href="textiles.html">Textiles</a></li>
  </ul>
</nav>